body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

p{
    margin-left: -30px;
}

.btn{
    margin-right:10px;
}

.back{
    margin-left:-30px;
}

.navbar-collapse .btn{
    margin-left:5px;
    margin-bot:1px;
}

.bbutton{
    margin-top:8px;
}

.ui-editor, .ui-widget-content{
    margin-left:-30px;
    width: 80%;
}

h1{
    margin-left:-30px;
    margin-top :-15px;
}

h3, table{
    margin-left:-30px;
}

.footbox p{
    margin-left: 5px;
}

.footbox {
  padding: 30px;
  margin-bottom: 30px;
  font-size: 16px;;
  font-weight: 600;
  line-height: 0,1;
  color: inherit;
  background-color: #F5F5F7;
}

textarea{
    margin-top:25px;
    margin-left: -30px;
}